.body
  -# %script{:src => "js/jquery-3.4.1.min.js"}
  -# %script{:src => "js/iTyped.js"}

.top
  = render "shared/header"
.create-contents
  .create-contents_title
    Post complete
    -# %span#id_ityped.class_ityped
  .to_back
    = link_to root_path do
      Top
