.show-contents{
  background-image: url(https://images.unsplash.com/photo-1524146128017-b9dd0bfd2778?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
  background-size: 100% 100%;
  color: #fff;
  text-align: center;
  font-size: 70px;
  height: 950px;
  .show-contents_title{
    text-shadow:4px 4px 8px #0a0a0a;
  }

  .show-contents_main{
    height: 750px;
    width: 100vw;
    display: flex;
    justify-content: center;
    

    .show-contents_main_in{
      width: 570px;
      // margin: 0 auto;
      .show-contents_main_box{
        // width: 100%;
        border: solid 5px #fff;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.808);

        &__list{
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          
          
          &__a{
            width: 316px;
            border: solid 1px #afb4b1;
          }

            &__post{
              height: 338px;
              border: solid 1px #afb4b1;
              background-size: 100% 100%;

            }

            .evaluation{
              height: 90px;
              // border: solid 1px #afb4b1;
              background-color: #fff;
              color: #000000;
              font-size: 17px;
              .evaluation_box{
                width: 100%;
                .evaluation_box_text{
                  height: 30px;
                  border: solid 1px #afb4b1;

                }
                .evaluation_box_price{
                  border: solid 1px #afb4b1;
                  height: 56px;
                  text-align: center;
                  font-size: 35px;
                  &__in{
                    // margin-left: 17px;
                  }
                }
                .evaluation_box_price_no{
                  border: solid 1px #afb4b1;
                  height: 56px;
                  text-align: center;
                  font-size: 20px;
                  &__in{
                    margin-top: 17px;
                  }
                }
              }
            }

            .evaluation_max{
              height: 50px;
              background-color: #978d04;
              color: #fff;
              font-size: 15px;
              text-align: center;
              .evaluation_box{
                width: 300px;
                position: relative;
                top: 12px;
                text-align: center;
                display: flex;
                justify-content: space-evenly;
                .evaluation_box_text{
                  display: flex;
                  
                  .evaluation_box_text_in{
                    font-size: 22px;
                    position: relative;
                    top: -7px;
                    left: 7px;
                  }
                }
                .evaluation_box_price{
                  display: flex;
                  .evaluation_box_price__in{
                    font-size: 22px;
                    position: relative;
                    top: -7px;
                    left: 7px;
                  }
                }
              }
            }

          .show-contents_main_box__list__b{
            width: 240px;
            font-size: 17px;
            border: solid 1px #afb4b1;
            .show-contents_main_box__list__text{
              display: flex;
              padding: 7px;
              height: 27px;
              color: black;
              border: solid 1px #afb4b1;
              background-color: #f8fbfb;
              overflow: auto;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            
            .price{
              // display: flex;
              padding-left: 5px;
              height: 60px;
              color: black;
              border: solid 1px #afb4b1;
              background-color: #f8fbfb;
              text-overflow: ellipsis;
              white-space: nowrap;
              text-align: left;
              .price_text{
                height: 20px;
              }

              .price_a{
                font-size: 35px;
                position: relative;
                top: -10px;
                text-align: center;
              }
            }
            .size{
              padding: 7px;
              height: 27px;
              color: black;
              border: solid 1px #afb4b1;
              background-color: #f8fbfb;
              text-align: left;
              overflow: auto;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .sentence{
              padding-left: 5px;
              height: 287px;
              color: black;
              border: solid 1px #afb4b1;
              background-color: #f8fbfb;
              text-align: left;
              overflow-wrap: break-word;
              overflow: auto;
              position: relative;
              .sentence_in{
                height: 208px;
                overflow: auto;
              }

              .show_btn{
                width: 225px;
                height: 40px;
                display: flex;
                margin: 5px auto;
                background-color: #978d04;
                text-align: center;
                border-radius: 15px;
                right: 3px;
                position: relative;
                bottom: 0;

                .show_btn_in{
                  display: flex;
                  margin: auto;
                  .edit{
                    width: 50px;
                    height: 25px;
                    font-size: 17px;
                    border: solid 2px #fff;
                    margin: 0 10px;
                    border-radius: 7px;
                    a{
                      text-decoration: none;
                      color: #fff;
                    }
                  }
                  .destroy{
                    width: 50px;
                    height: 25px;
                    font-size: 17px;
                    border: solid 2px #fff;
                    margin: 0 10px;
                    border-radius: 7px;
                    a{
                      text-decoration: none;
                      color: #fff;
                    }
                  }
                }
              }
            }
          }
        }
      }
    
      .comment{
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: 560px;
        height: 200px;
        margin: 25px auto 10px;
        font-size: 20px;
        border: solid 5px #fff;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.808);
        .comment_box{
          .comment_box_text{
            .comment_box_text_in{
              width: 450px;
              height: 70px;
              margin: 18px 50px;
              border-radius: 20px ;
              border: solid 2px #f8fbfb;
            }
          }
          .comment_box_price{
            display: flex;
            
            .comment_box_price_in_a{
              width: 300px;
              height: 50px;
              margin: 5px 33px 0 53px;
              font-size: 16px;
              border-radius: 20px ;
              border: solid 2px #f8fbfb;
              .text{
                position: relative;
                top: 12px;
              }
            }
            input.comment_box_price_in{
              width: 300px;
              height: 50px;
              margin: 5px 33px 0 53px;
              font-size: 18px;
              border-radius: 20px ;
              border: solid 2px #f8fbfb;
            }
            .comment_box_btn{
              input.btn{
                width: 100px;
                height: 54px;
                border-radius: 20px ;
                border: solid 2px #fbfbf8;
                margin: 5px 8px;
                color: #978d04;
              }
              input[type="submit"] {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                padding: 0;
                border: none;
                outline: none;
              }
            }
          }
        }
      }
    }
  }
      .message{
        margin-left: 20px;

        .evaluation_list{
          display: flex;
          justify-content: space-around;
          font-size: 21px;
          .evaluation_max{
            width: 120px;
            height: 120px;
            background-color: #e96b8a;
            color: #fff;
            
            border-radius: 50%;
            border: solid 5px rgba(255, 255, 255, 0.616);
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.808);
            .evaluation_box{
              width: 100%;
              .evaluation_box_text{
                height: 48px;
                .evaluation_box_text_in{
                  position: relative;
                  top: 25px;
                }
              }
              .evaluation_box_price{
                height: 48px;
                text-align: center;
                font-size: 27px;
                margin-top: 5px;
                &__in{
                  margin-top: -5px;
                }
              }
            }
          }
          .evaluation_low{
            width: 120px;
            height: 120px;
            background-color: #49ade7;
            color: #fff;
            
            border-radius: 50%;
            border: solid 5px rgba(255, 255, 255, 0.616);
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.808);
            .evaluation_box{
              width: 100%;
              .evaluation_box_text{
                height: 48px;
                .evaluation_box_text_in{
                  position: relative;
                  top: 25px;
                }
              }
              .evaluation_box_price{
                height: 48px;
                text-align: center;
                font-size: 27px;
                margin-top: 5px;
                &__in{
                  margin-top: -5px;
                }
              }
            }
          }
        }

        .message_in{
          width: 300px;
          height: 580px;
          border: solid 5px #fff;
          border-radius: 20px;
          color: #fff;
          font-size: 20px;
          text-align: left;
          overflow: auto;
          overflow-wrap: break-word;
          box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.808);
          margin-top: 10px;
          .message_list{
            width: 300px;
            padding-bottom: 5px;
            a{
              text-decoration: none;
              color: #fff;
              display: inline-block;
              background-color: #978d04;
              border-radius: 30px;
              overflow-wrap: break-word;
              padding: 0 10px;
              text-align: center;
              box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.808);
            }
            .message_list_box{
              margin: 5px;
              border-radius: 30px;
              overflow-wrap: break-word;
              strong{
                position: relative;
                left: 5px;
              }
            }
            .message_list_box_a{
              width: 250px;
              margin: 5px auto;
              background-color: #fff;
              border-radius: 20px;
              color: #000000;
              padding: 0 10px;
              box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.808);
              .message_list_box_in{
                position: relative;
                left: 5px;
                display: flex;
                justify-content: space-between;

                a{
                  // width: 10px;
                  height: 22px;
                  font-size: 15px;
                  padding: 0 10px;
                  text-align: center;
                  position: relative;
                  top: 6px;
                  right: 5px;
                  border-radius: 50%;
                }
                
              }
            
              .message_list_price{
                font-size: 17px;
                display: flex;
                position: relative;
                left: 5px;
                .message_list_price_in{
                  font-size: 22px;
                  margin: -7px 5px;
                }
              }
            }
          }
        }
      }
  
  .show-icon{
    font-size: 40px;
    color: #fff;
    text-shadow:4px 4px 8px #0a0a0a;
  }
}