.show-contents{
  background-image: url(https://images.unsplash.com/photo-1524146128017-b9dd0bfd2778?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
  background-size: 100% 100%;
  color: #fff;
  text-align: center;
  font-size: 70px;
  height: 1000px;

  .show-contents_main{
    height: 500px;
    width: 800px;
    border: solid 5px #fff;
    margin: 0 auto;
    


    .show-contents_main_box{
      width: 100%;

      &__list{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        
        
        &__a{
          
          display: flex;
        }
          &__post{
            height: 498px;
            width: 500px;
            border: solid 1px #afb4b1;
            background-size: 100% 100%;

          }

        .show-contents_main_box__list__b{
          width: 296px;
          font-size: 20px;
          border: solid 1px #afb4b1;
          .show-contents_main_box__list__text{
            display: flex;
            padding: 7px;
            height: 32px;
            color: black;
            border: solid 1px #afb4b1;
            background-color: #f8fbfb;
            overflow: auto;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          
          .price{
            display: flex;
            padding-left: 5px;
            height: 50px;
            color: black;
            border: solid 1px #afb4b1;
            background-color: #f8fbfb;
            overflow: auto;
            text-overflow: ellipsis;
            white-space: nowrap;

            .price_a{
              font-size: 35px;
            }
          }
          .size{
            padding: 7px;
            height: 32px;
            color: black;
            border: solid 1px #afb4b1;
            background-color: #f8fbfb;
            text-align: left;
            overflow: auto;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .sentence{
            padding-left: 5px;
            height: 348px;
            color: black;
            border: solid 1px #afb4b1;
            background-color: #f8fbfb;
            text-align: left;
            overflow-wrap: break-word;
          }
        }
      }
    }
  }

  .show_btn{
    width: 150px;
    height: 40px;
    display: flex;
    margin: 20px auto;
    .edit{
      width: 50px;
      height: 30px;
      font-size: 20px;
      border: solid 2px #fff;
      background-color: #afb4b1;
      margin: 10px;
      a{
        text-decoration: none;
        color: #fff;
      }
    }
    .destroy{
      width: 50px;
      height: 30px;
      font-size: 20px;
      border: solid 2px #fff;
      background-color: #afb4b1;
      margin: 10px;
      a{
        text-decoration: none;
        color: #fff;
      }
    }
  }

  .comment{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 800px;
    height: 200px;
    margin: 0 auto;
    background-color: #afb4b1;
    font-size: 20px;
    border: solid 5px #fff;
    .comment_box{
      
      .comment_box_text{
        .comment_box_text_in{
          width: 700px;
          height: 70px;
          margin: 18px 50px;
          border-radius: 20px ;
          border: solid 2px #f8fbfb;
        }
      }
      .comment_box_price{
        display: flex;
        
        input.comment_box_price_in{
          width: 300px;
          height: 50px;
          margin: 5px 50px;
          font-size: 18px;
          border-radius: 20px ;
          border: solid 2px #f8fbfb;
        }
        .comment_box_btn{
          input.btn{
            width: 200px;
            height: 54px;
            border-radius: 20px ;
            border: solid 2px #fbfbf8;
            margin: 5px 50px;
            color: #978d04;
          }
          input[type="submit"] {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding: 0;
            border: none;
            outline: none;
        }
        }
      }
    }
  }
  .show-icon{
    font-size: 40px;
    color: #fff;
    margin-top: 10px;
  }
}