body{
  font-family: cursive, Georgia, 'Times New Roman', Times, serif;
  width: 100vw;
  height: 100vh;
  
  .heder {
    display: flex;
    background-color: #4b4f54;
    color: #f8fbfb;
    text-shadow:4px 4px 8px #0a0a0a6b;
    height: 100px;
    justify-content: space-between;

    .heder_left {
      align-items: center;
      
      .heder_left_name {
        font-size: 40px;
        padding: 15px 15px 10px 10px;

        a{
          text-decoration: none;
          color: #f8fbfb;
        }
      }
    }
  }

  .heder_content{
    margin:40px 10px 20px 10px;;
    display: flex;
    color: #f8fbfb;
    
    .heder_content_left {
      margin-right: 10px;
      li{
        font-size: 18px;
      }

    }
    .heder_content_center {
      margin-right: 10px;;

    }

    .heder_content_right {
      margin-right: 10px;;

    }

    a{
      text-decoration: none;
      color: #f8fbfb;
      font-size: 18px;
    }
  }
}

.main{
  display: flex;
  .side_bar{
    float: left;
    height: calc(100vh + 8px);
    width: 250px;
    
    .info{
      display: flex;
      justify-content: space-between;
      background-color: #fff;
      width: 246px;
      height: 30px;
      color: #afb4b1;
      // border: solid 1px;
      position: absolute;
      .search{
       font-size: 18px;
       position: relative;
       left: 106px;
       top: 1px;
       border-radius: 50%;
       color: #afb4b1;
       cursor: pointer;
      }

    }


    .side_bar_box{
      align-items: center;;
      width: 250px;
      background-color: #afb4b1;
      color: #f8fbfb;
      // border: solid 1px #afb4b1;
      font-size: 25px;
      overflow: auto;
      height: 100%;
      position: relative;
      top: 32px;
      
      .side_bar_list{
        padding: 3px 25px 3px;
        font-size: 16px;
        
      }
    }
  }
  .contents{
    box-sizing: border-box;
    width: calc(100vw - 250px);
    // margin-left: 252px;
    font-size-adjust: 18px;
    background-image: url(https://images.unsplash.com/photo-1547998872-71a44f061d5a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
    background-size: 100% 100%;
    
    .contents_top{
      text-align: center;
      font-size: 70px;
      height: 100px;
      // background-image: url(https://images.unsplash.com/photo-1547998872-71a44f061d5a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
      // background-size: 100% 100%;
      padding: 25px 25px;
      color: #fff;
      text-shadow:4px 4px 8px #0a0a0a;
      .list{
        position: relative;
        // top: 20px;
      }

      .p{
        padding-top: 10px;
      }
    
    }
    .contents_main{
      height: calc(100vh - 110px);
      width: calc(100vw - 335px);
      margin: 0 7% auto;
      overflow-y: auto;
    
      .contents_main_box{
        width: 100%;
        
        &__list{
          display: flex;
          flex-wrap: wrap;
          // justify-content: space-around;
          
          &__a{
            width: 191px;
            margin: 5px 10px 15px 5px;
            border: solid 5px #fff;
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.808);

            a{
              text-decoration: none;
            }
          
            &__post{
              height: 210px;
              border: solid 1px #afb4b1;
              background-size: 100% 100%;
              // background-position: center;
              // background-repeat: no-repeat;
              // background-size: contain;
            }

            .contents_main_box__list__text{
              display: flex;
              padding-left: 5px;
              height: 30px;
              color: black;
              border: solid 1px #afb4b1;
              background-color: #f8fbfb;
              overflow:hidden;
              text-overflow: ellipsis;
              white-space:nowrap;
            }
            
            .price{
              display: flex;
              padding-left: 5px;
              height: 50px;
              color: black;
              border: solid 1px #afb4b1;
              background-color: #f8fbfb;
              overflow:hidden;
              text-overflow: ellipsis;
              white-space:nowrap;
              .price_a{
                font-size: 35px;
              }
            }
          }
        }
      }
    }
  }
}
.contents_low{
  background-image: url(https://images.unsplash.com/photo-1520372561567-bac27b0e5fa1?ixlib=rb-1.2.1&auto=format&fit=crop&w=1748&q=80);
  color: #fff;
  background-size: 100% 100%;
  height: 300px;

  .info{
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    position: relative;
    top: 40px;
  }
  .icon{
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 25px;
    font-size: 40px;
    padding: 0 10px 0;
    cursor: pointer;
  }
}
  

