.item_new{
  width: 100%;
  // height: 900px;
  background-image: url(https://images.unsplash.com/photo-1501516069922-a9982bd6f3bd?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
  color: #fff;
  background-size: 100% 100%;
  // display: flex;
  // justify-content: center;
  .item_new__top{
    font-size: 50px;
    position: relative;
    top: 27px;
    text-align: center;
    
  }

  .item_new_create{
    padding: 3% 35%;
    
    .container{
      .list{
        .image{
          padding: 20px;
          .image_in{
            img{
            margin-top: 20px;
            width: 100px;
            height: 100px;
            }
          }
        }
        .name{
          padding: 20px;
        }
        .price{
          padding: 20px;
        }

        .size_w{
          padding: 20px;
        }
        .size_d{
          padding: 20px;
        }
        .size_h{
          padding: 20px;
        }
        .text{
          padding: 20px;
          .input{
            width: 320px;
            height: 150px;
          }
        }
        .genre{
          width: 400px;
          padding: 20px;
          overflow-wrap: break-word;
          .genre_in{
            input{
              position: relative;
              top: -3px;
              margin: 0 5px;
            }
          }
        }
        .btn{
          padding: 20px;
          text-align: center;
          input{
            width: 150px;
            height: 32px;
            background-color: #978d04;
            color: #fff;
            border-radius: 30px;
          }
        }
      }
    }
  }
}