.main{
  display: flex;
  .side_bar_show{
    float: left;
    height: calc(100vh + 14px);
    width: 250px;
    
    .info{
      display: flex;
      justify-content: space-between;
      background-color: #fff;
      width: 246px;
      height: 30px;
      color: #afb4b1;
      // border: solid 1px;
      position: absolute;
      .search{
       font-size: 18px;
       position: relative;
       left: 106px;
       top: 1px;
       border-radius: 50%;
       color: #afb4b1;
       cursor: pointer;
      }
    }
    .side_bar_box{
      align-items: center;;
      width: 248px;
      background-color: #afb4b1;
      color: #f8fbfb;
      border: solid 1px #afb4b1;
      font-size: 25px;
      overflow: auto;
      height: 100%;
      position: relative;
      top: 32px;
      
      .side_bar_list{
        padding: 3px 25px 3px;
        font-size: 16px;
        
      }
    }
  }

  .contents_show{
    box-sizing: border-box;
    width: calc(100vw - 250px);
    // font-size-adjust: 18px;
    background-image: url(https://images.unsplash.com/photo-1543785520-f52fecf4ecfa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
    background-size: 100% 100%;
    color: #fafafa;
    
    .mypage{
      display: flex;
      justify-content: center;
      text-shadow:4px 4px 8px #0a0a0a;
      
      .mypage_top{
        text-align: center;
        font-size: 70px;
        height: 100px;
        padding: 25px 25px;
        .list{
          position: relative;
          // top: 20px;
        }
        .p{
          padding-top: 10px;
        }
      }

      .mypage_icon{
        font-size: 90px;
        position: relative;
        top: 3px;
        color: #fff;
        left: 10px;
      }
    }
    .contents_main{
      height: calc(100vh - 110px);
      width: calc(100vw - 335px);
      margin: 0 7% auto;
      
      overflow-y: auto;
    
      .contents_main_box{
        width: 100%;
        

        &__list{
          display: flex;
          flex-wrap: wrap;
          
          &__a{
            width: 191px;
            margin: 5px 10px 15px 5px;
            border: solid 5px #fff;
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.808);

            a{
              text-decoration: none;
            }
          
            .contents_main_box__list__post{
              height: 210px;
              border: solid 1px #afb4b1;
              background-size: 100% 100%;
            }

            .contents_main_box__list__text{
              display: flex;
              padding-left: 5px;
              height: 30px;
              color: black;
              border: solid 1px #afb4b1;
              background-color: #f8fbfb;
              overflow:hidden;
              text-overflow: ellipsis;
              white-space:nowrap;
            }
            
            .price{
              display: flex;
              padding-left: 5px;
              height: 50px;
              color: black;
              border: solid 1px #afb4b1;
              background-color: #f8fbfb;
              overflow:hidden;
              text-overflow: ellipsis;
              white-space:nowrap;
              .price_a{
                font-size: 35px;
              }
            }
          }
        }
      }
    }
  }
}